# Python Virtual Environment
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# User local history data
history.json
history.json.tmp

# Local Downloads & Media
downloads/
*.mp4
*.mp3
*.m4a
*.webm
*.txt
!requirements.txt

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
